
main {
    padding: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

input {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 3px;
}

.form-control {
    margin-bottom: 15px;
}